In [1]:
! pip install findspark

Requirement already satisfied: findspark in c:\users\dell\anaconda3\lib\site-packages (2.0.1)

## Le traitement et l'analyse de données avec PySpark

In [119]:
                                        ## L'importation des bibliothèques ##
    
import findspark
import pyspark
from pyspark.sql import SparkSession
findspark.init()

In [120]:
                                            ## La création d'une session ##
    
spark = SparkSession.builder.getOrCreate()

In [121]:
                                            ## L'affichage du premier message ##
    
df = spark.sql(''' select  'spark' as hello ''')
df.show()

+-----+
|hello|
+-----+
|spark|
+-----+

In [122]:
spark

In [124]:
        ## L'importation de notre jeu de données. C'est la meilleur façon d'importer la base de données dans pyspark. ##

df_pyspark = spark.read.csv("C:/Users/dell/Desktop/Master_2  Econométrie/Big_Data/ML_pipeline/ML_pipeline/test2.csv",
                            header=True,inferSchema=True)

In [125]:
                                    ## L'affichage du jeu de données ##
    
df_pyspark.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [126]:
                                        ## La deuxième version d'importation d'un fichier ##
    
df_pyspark1 = spark.read.option('header', 'true').csv('C:/Users/dell'+
                                                      '/Desktop/Master_2  Econométrie/Big_Data/ML_pipeline/ML_pipeline/test2.csv')

In [128]:
                                            ## L'affichage du jeu de données ##
    
df_pyspark1.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [130]:
                             ## La nature des colonnes de notre jeu de données et leurs noms. ##
df_pyspark

DataFrame[Name: string, age: int, Experience: int, Salary: int]

In [133]:
                                             ## La nature des différentes colonnes. ##
    
df_pyspark.printSchema

In [138]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [139]:
                                             ## Le type de l'objet de notre analyse ##
    
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [140]:
                                     ## Les trois premières lignes de notre jeu de données ##
    
df_pyspark.head(n=3)

[Row(Name='Krish', age=31, Experience=10, Salary=30000),
 Row(Name='Sudhanshu', age=30, Experience=8, Salary=25000),
 Row(Name='Sunny', age=29, Experience=4, Salary=20000)]

In [141]:
                                        ## Les différentes colonnes de mon jeu de données ##
    
df_pyspark.columns

['Name', 'age', 'Experience', 'Salary']

## ** Step 0:  La statistique descriptive

In [147]:
                                    ## Les statistiques usuelles de chaque variable ##
    
df_pyspark.describe().show()

+-------+------+------------------+------------------+-----------------+
|summary|  Name|               age|        Experience|           Salary|
+-------+------+------------------+------------------+-----------------+
|  count|     7|                 8|                 7|                8|
|   mean|  null|              28.5| 5.428571428571429|          25750.0|
| stddev|  null|5.3718844791323335|3.8234863173611093|9361.776388210581|
|    min|Harsha|                21|                 1|            15000|
|    max| Sunny|                36|                10|            40000|
+-------+------+------------------+------------------+-----------------+

## ** Step 1:  La manipulation de données

In [148]:
                                ## La nature d'une variable en fonction de son nom ##
    
df_pyspark.select('Name')

DataFrame[Name: string]

In [149]:
                                 ## La selection d'une seule variable, notamment Name. ##
    
df_pyspark.select('Name').show()

+---------+
|     Name|
+---------+
|    Krish|
|Sudhanshu|
|    Sunny|
|     Paul|
|   Harsha|
|  Shubham|
|   Mahesh|
|     null|
|     null|
+---------+

In [150]:
                        ## La selection des modalités d'une seule variable, notamment Name. ##
    
df_pyspark.select(['Name']).distinct().show()

+---------+
|     Name|
+---------+
|     null|
|Sudhanshu|
|    Sunny|
|    Krish|
|   Harsha|
|     Paul|
|  Shubham|
|   Mahesh|
+---------+

In [151]:
                                 ## La selection deux variables, notamment Name et 'age'. ##
    
df_pyspark.select(['Name', 'age']).show()

+---------+----+
|     Name| age|
+---------+----+
|    Krish|  31|
|Sudhanshu|  30|
|    Sunny|  29|
|     Paul|  24|
|   Harsha|  21|
|  Shubham|  23|
|   Mahesh|null|
|     null|  34|
|     null|  36|
+---------+----+

## 1 - Add Columns

In [92]:
                                            ## Add the columns ##
    
df_pyspark_2 = df_pyspark.withColumn('Age_2', df_pyspark['age']+2)
df_pyspark_2

DataFrame[Name: string, age: int, Experience: int, Salary: int, Age_2: int]

In [93]:
df_pyspark_2.show()

+---------+----+----------+------+-----+
|     Name| age|Experience|Salary|Age_2|
+---------+----+----------+------+-----+
|    Krish|  31|        10| 30000|   33|
|Sudhanshu|  30|         8| 25000|   32|
|    Sunny|  29|         4| 20000|   31|
|     Paul|  24|         3| 20000|   26|
|   Harsha|  21|         1| 15000|   23|
|  Shubham|  23|         2| 18000|   25|
|   Mahesh|null|      null| 40000| null|
|     null|  34|        10| 38000|   36|
|     null|  36|      null|  null|   38|
+---------+----+----------+------+-----+

## 2 - Drop columns

In [94]:
df_pyspark_3 = df_pyspark_2.drop('Age_2')
df_pyspark_3.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

## 3 - Rename columns

In [152]:
df_pyspark_4 = df_pyspark_3.withColumnRenamed('Name', 'New_Name')
df_pyspark_4.show()

+---------+----+----------+------+
| New_Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

## 4 -  Missing values

In [153]:
df_pyspark_2p_1 = df_pyspark.drop('Name')
df_pyspark_2p_1.show()

+----+----------+------+
| age|Experience|Salary|
+----+----------+------+
|  31|        10| 30000|
|  30|         8| 25000|
|  29|         4| 20000|
|  24|         3| 20000|
|  21|         1| 15000|
|  23|         2| 18000|
|null|      null| 40000|
|  34|        10| 38000|
|  36|      null|  null|
+----+----------+------+

In [154]:
                                        ## La suppression des NAs ##
    
df_pyspark_2p_2 = df_pyspark.na.drop()
df_pyspark_2p_2.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [155]:
                                    ## Avec all, on conserve toutes les valeurs nulles. ##
    
df_pyspark_2p_3 = df_pyspark.na.drop(how='all')
df_pyspark_2p_3.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [156]:
                        ## Avec all, on supprime toutes les valeurs nulles comme df_pyspark.na.drop() ##
    
df_pyspark_2p_4 = df_pyspark.na.drop(how='any')
df_pyspark_2p_4.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [157]:
        ## Avec all, on supprime toutes les valeurs nulles comme df_pyspark.na.drop(). Mais il ne faut pas supprimer ##
                               ## les lignes ayant deux ou plus de deux valeurs non nulles ##

df_pyspark_2p_5 = df_pyspark.na.drop(how='any', thresh = 2)
df_pyspark_2p_5.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
+---------+----+----------+------+

In [101]:
                #dropna() with subset : ## Il faut supprimer les nas en fonction de la variable 'Expérience'#
    
df_pyspark_2p_6 = df_pyspark.na.drop(how='any', subset = ['Experience'])
df_pyspark_2p_6.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|     null| 34|        10| 38000|
+---------+---+----------+------+

## 5 - Filling the missing value

In [159]:
                                ## Le remplacement des valeurs manquantes par une 'Missing values' ##
    
df_pyspark_2p_7 = df_pyspark.na.fill('Missing Values')
df_pyspark_2p_7.show()

+--------------+----+----------+------+
|          Name| age|Experience|Salary|
+--------------+----+----------+------+
|         Krish|  31|        10| 30000|
|     Sudhanshu|  30|         8| 25000|
|         Sunny|  29|         4| 20000|
|          Paul|  24|         3| 20000|
|        Harsha|  21|         1| 15000|
|       Shubham|  23|         2| 18000|
|        Mahesh|null|      null| 40000|
|Missing Values|  34|        10| 38000|
|Missing Values|  36|      null|  null|
+--------------+----+----------+------+

In [162]:
                                    ## Le remplacement par 0 des valeurs nulles ##
    
df_pyspark_2p_8 = df_pyspark.na.fill(0, ['Experience', 'Salary', 'age'])
df_pyspark_2p_8.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|   Mahesh|  0|         0| 40000|
|     null| 34|        10| 38000|
|     null| 36|         0|     0|
+---------+---+----------+------+

## 6 - Imputation

In [163]:
df_pyspark.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [165]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
                    inputCols = ['age', 'Experience', 'Salary'],
                    outputCols = ["{}.imputed".format(c) for c in ['age', 'Experience', 'Salary']]
                ).setStrategy("mean")

In [166]:
                                ## Add imputation on the cols: par la moyenne ##
    
imputer.fit(df_pyspark).transform(df_pyspark).show()

+---------+----+----------+------+-----------+------------------+--------------+
|     Name| age|Experience|Salary|age.imputed|Experience.imputed|Salary.imputed|
+---------+----+----------+------+-----------+------------------+--------------+
|    Krish|  31|        10| 30000|         31|                10|         30000|
|Sudhanshu|  30|         8| 25000|         30|                 8|         25000|
|    Sunny|  29|         4| 20000|         29|                 4|         20000|
|     Paul|  24|         3| 20000|         24|                 3|         20000|
|   Harsha|  21|         1| 15000|         21|                 1|         15000|
|  Shubham|  23|         2| 18000|         23|                 2|         18000|
|   Mahesh|null|      null| 40000|         28|                 5|         40000|
|     null|  34|        10| 38000|         34|                10|         38000|
|     null|  36|      null|  null|         36|                 5|         25750|
+---------+----+----------+------+-----------+------------------+--------------+

In [167]:
df_pyspark_2p_2.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

## 7 - Filter opérations

In [168]:
                                        ## Salary of the people less than 20000 ##
    
df_pyspark_2p_2.filter("Salary>=20000").show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
+---------+---+----------+------+

In [169]:
                                        ## Salary of the people less than 20000 ##
    
df_pyspark_2p_2.filter("Salary<=20000").show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [170]:
                    ## Salary of the people less than 20000 avec la selection des variables #age et #Name ##
    
df_pyspark_2p_2.filter("Salary<=20000").select(["age", "Name"]).show()

+---+-------+
|age|   Name|
+---+-------+
| 29|  Sunny|
| 24|   Paul|
| 21| Harsha|
| 23|Shubham|
+---+-------+

In [171]:
                                            ## Normal conditions with ##
    
df_pyspark_2p_2.filter(df_pyspark_2p_2["Salary"]==20000).show()

+-----+---+----------+------+
| Name|age|Experience|Salary|
+-----+---+----------+------+
|Sunny| 29|         4| 20000|
| Paul| 24|         3| 20000|
+-----+---+----------+------+

In [172]:
                                            ## pas Normal conditions with ##
    
df_pyspark_2p_2.filter(~(df_pyspark_2p_2["Salary"]==20000)).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [173]:
                                            ## pas Normal conditions with ##
    
df_pyspark.filter((df_pyspark["Salary"]<=20000) & (df_pyspark["age"]>=31)).show()

+----+---+----------+------+
|Name|age|Experience|Salary|
+----+---+----------+------+
+----+---+----------+------+

In [174]:
                                            ## pas Normal conditions with ##
    
df_pyspark.filter((df_pyspark["Salary"]<=20000) | (df_pyspark["age"]>=25)).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|     null| 34|        10| 38000|
|     null| 36|      null|  null|
+---------+---+----------+------+

In [175]:
                                        ## Multiple conditions with and ##
    
df_pyspark_2p_2.filter((df_pyspark_2p_2["Salary"]<=20000) & (df_pyspark_2p_2["Salary"]>=15000)).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [176]:
                                        ## Multiple conditions with or ##
    
df_pyspark_2p_2.filter((df_pyspark_2p_2["Salary"]<=20000) | (df_pyspark_2p_2["Salary"]>=15000)).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [177]:
                                            ## Unique condition not ##
    
df_pyspark_2p_2.filter(~(df_pyspark_2p_2["Salary"]<=20000)).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
+---------+---+----------+------+

## 8-  Pyspark Groupby Operations and Aggregrate functions

In [178]:
                                    ## L'importation de la base de données ##
    
df_pysparkG = spark.read.csv("C:/Users/dell/Desktop/Master_2  Econométrie/Big_Data/ML_pipeline/ML_pipeline/test3.csv",
                             header=True,inferSchema=True)

In [179]:
df_pysparkG.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [180]:
df_pysparkG.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [182]:
                                            ## Le salaire par département ##
    
df_pysparkG.select(['Departments','salary']).groupBy(['Departments']).sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [183]:
                                            ## Le salaire max par département ##

df_pysparkG.select(['Departments','salary']).groupBy(['Departments']).max().show()

+------------+-----------+
| Departments|max(salary)|
+------------+-----------+
|         IOT|      10000|
|    Big Data|       5000|
|Data Science|      20000|
+------------+-----------+

In [184]:
                                            ## Le salaire min par département ##
    
df_pysparkG.select(['Departments','salary']).groupBy(['Departments']).min().show()

+------------+-----------+
| Departments|min(salary)|
+------------+-----------+
|         IOT|       5000|
|    Big Data|       2000|
|Data Science|       3000|
+------------+-----------+

In [185]:
                                            ## La moyenne par département ##

df_pysparkG.select(['Departments','salary']).groupBy(['Departments']).avg().show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [187]:
                                         ## Le nombre de personnes par département ##
    
df_pysparkG.select(['Departments','salary']).groupBy(['Departments']).count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [188]:
                                                ## Ranger par ordre croissant ##
    
df_pysparkG.select(sorted(df_pysparkG.columns)).show()

+------------+---------+------+
| Departments|     Name|salary|
+------------+---------+------+
|Data Science|    Krish| 10000|
|         IOT|    Krish|  5000|
|    Big Data|   Mahesh|  4000|
|    Big Data|    Krish|  4000|
|Data Science|   Mahesh|  3000|
|Data Science|Sudhanshu| 20000|
|         IOT|Sudhanshu| 10000|
|    Big Data|Sudhanshu|  5000|
|Data Science|    Sunny| 10000|
|    Big Data|    Sunny|  2000|
+------------+---------+------+

In [189]:
                                            ## Groupby ## Grouped the maximum salary ##
    
print('La moyenne de salaires par département: ' + 'C\'est bien')
df_pysparkG.groupBy('Departments').sum().show()

La moyenne de salaires par département: C'est bien
+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [60]:
                                        ## Groupby ## Brouped the maximum salary ##
    
df_pysparkG.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [190]:
                                            ## Groupby ## Brouped the maximum salary ##
    
df_pysparkG.groupBy('Name').max().show()

+---------+-----------+
|     Name|max(salary)|
+---------+-----------+
|Sudhanshu|      20000|
|    Sunny|      10000|
|    Krish|      10000|
|   Mahesh|       4000|
+---------+-----------+

In [191]:
                                            ## Groupby ## Brouped the minimum salary ##

df_pysparkG.groupBy('Name').min().show()

+---------+-----------+
|     Name|min(salary)|
+---------+-----------+
|Sudhanshu|       5000|
|    Sunny|       2000|
|    Krish|       4000|
|   Mahesh|       3000|
+---------+-----------+

In [63]:
                                            ## Groupby ## Brouped the moyenne salary ##

df_pysparkG.groupBy('Name').avg().show()

+---------+------------------+
|     Name|       avg(salary)|
+---------+------------------+
|Sudhanshu|11666.666666666666|
|    Sunny|            6000.0|
|    Krish| 6333.333333333333|
|   Mahesh|            3500.0|
+---------+------------------+

In [192]:
                                                ## Groupby departement salary ##
    
df_pysparkG.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [193]:
                                            ## Groupby departement salary : la moyenne ##
    
df_pysparkG.groupBy('Departments').mean().show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [194]:
                                    ## Groupby departement salary : la comptage ##
    
df_pysparkG.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [195]:
                                                ## La somme totale des salaire ##

df_pysparkG.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+

## 9 - Filter opérations

In [196]:
                                ## Elle permet d'utiliser les nombreuses fonctions de SQL, notamment #agg ##
    
import pyspark.sql.functions as F

In [69]:

df_pysparkG.groupBy(['Departments']).agg({'Salary':'sum'}).show()

+------------+-----------+
| Departments|sum(Salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [70]:
df_pysparkG.withColumn('classe', F.lit('Econométrie')).show()

+---------+------------+------+-----------+
|     Name| Departments|salary|     classe|
+---------+------------+------+-----------+
|    Krish|Data Science| 10000|Econométrie|
|    Krish|         IOT|  5000|Econométrie|
|   Mahesh|    Big Data|  4000|Econométrie|
|    Krish|    Big Data|  4000|Econométrie|
|   Mahesh|Data Science|  3000|Econométrie|
|Sudhanshu|Data Science| 20000|Econométrie|
|Sudhanshu|         IOT| 10000|Econométrie|
|Sudhanshu|    Big Data|  5000|Econométrie|
|    Sunny|Data Science| 10000|Econométrie|
|    Sunny|    Big Data|  2000|Econométrie|
+---------+------------+------+-----------+

In [71]:
df_pysparkG.withColumn('classe', F.lit(df_pysparkG.agg(F.max('Salary')).collect()[0][0])).show()

+---------+------------+------+------+
|     Name| Departments|salary|classe|
+---------+------------+------+------+
|    Krish|Data Science| 10000| 20000|
|    Krish|         IOT|  5000| 20000|
|   Mahesh|    Big Data|  4000| 20000|
|    Krish|    Big Data|  4000| 20000|
|   Mahesh|Data Science|  3000| 20000|
|Sudhanshu|Data Science| 20000| 20000|
|Sudhanshu|         IOT| 10000| 20000|
|Sudhanshu|    Big Data|  5000| 20000|
|    Sunny|Data Science| 10000| 20000|
|    Sunny|    Big Data|  2000| 20000|
+---------+------------+------+------+

In [197]:
import pyspark
from pyspark.sql import SparkSession

In [198]:
df_pyspark1.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [199]:
df_pysparkG.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

## 10- Les jointures

In [200]:
                                    ##inner join ##
df_pysparkG.join(df_pyspark1,
               df_pysparkG.Name == df_pyspark1.Name,
               "inner").show()

+---------+------------+------+---------+----+----------+------+
|     Name| Departments|salary|     Name| age|Experience|Salary|
+---------+------------+------+---------+----+----------+------+
|    Krish|Data Science| 10000|    Krish|  31|        10| 30000|
|    Krish|         IOT|  5000|    Krish|  31|        10| 30000|
|   Mahesh|    Big Data|  4000|   Mahesh|null|      null| 40000|
|    Krish|    Big Data|  4000|    Krish|  31|        10| 30000|
|   Mahesh|Data Science|  3000|   Mahesh|null|      null| 40000|
|Sudhanshu|Data Science| 20000|Sudhanshu|  30|         8| 25000|
|Sudhanshu|         IOT| 10000|Sudhanshu|  30|         8| 25000|
|Sudhanshu|    Big Data|  5000|Sudhanshu|  30|         8| 25000|
|    Sunny|Data Science| 10000|    Sunny|  29|         4| 20000|
|    Sunny|    Big Data|  2000|    Sunny|  29|         4| 20000|
+---------+------------+------+---------+----+----------+------+

In [203]:
                                                ## Full Join ##
df_pysparkG.join(df_pyspark1,
               df_pysparkG.Name == df_pyspark1.Name,
               "full").show()

+---------+------------+------+---------+----+----------+------+
|     Name| Departments|salary|     Name| age|Experience|Salary|
+---------+------------+------+---------+----+----------+------+
|     null|        null|  null|     null|  34|        10| 38000|
|     null|        null|  null|     null|  36|      null|  null|
|Sudhanshu|Data Science| 20000|Sudhanshu|  30|         8| 25000|
|Sudhanshu|         IOT| 10000|Sudhanshu|  30|         8| 25000|
|Sudhanshu|    Big Data|  5000|Sudhanshu|  30|         8| 25000|
|    Sunny|Data Science| 10000|    Sunny|  29|         4| 20000|
|    Sunny|    Big Data|  2000|    Sunny|  29|         4| 20000|
|    Krish|Data Science| 10000|    Krish|  31|        10| 30000|
|    Krish|         IOT|  5000|    Krish|  31|        10| 30000|
|    Krish|    Big Data|  4000|    Krish|  31|        10| 30000|
|     null|        null|  null|   Harsha|  21|         1| 15000|
|     null|        null|  null|     Paul|  24|         3| 20000|
|     null|        null|  null|  Shubham|  23|         2| 18000|
|   Mahesh|    Big Data|  4000|   Mahesh|null|      null| 40000|
|   Mahesh|Data Science|  3000|   Mahesh|null|      null| 40000|
+---------+------------+------+---------+----+----------+------+

In [205]:
                                                ## left Join ##
df_pysparkG.join(df_pyspark1,
               df_pysparkG.Name == df_pyspark1.Name,
               "left").show()

+---------+------------+------+---------+----+----------+------+
|     Name| Departments|salary|     Name| age|Experience|Salary|
+---------+------------+------+---------+----+----------+------+
|    Krish|Data Science| 10000|    Krish|  31|        10| 30000|
|    Krish|         IOT|  5000|    Krish|  31|        10| 30000|
|   Mahesh|    Big Data|  4000|   Mahesh|null|      null| 40000|
|    Krish|    Big Data|  4000|    Krish|  31|        10| 30000|
|   Mahesh|Data Science|  3000|   Mahesh|null|      null| 40000|
|Sudhanshu|Data Science| 20000|Sudhanshu|  30|         8| 25000|
|Sudhanshu|         IOT| 10000|Sudhanshu|  30|         8| 25000|
|Sudhanshu|    Big Data|  5000|Sudhanshu|  30|         8| 25000|
|    Sunny|Data Science| 10000|    Sunny|  29|         4| 20000|
|    Sunny|    Big Data|  2000|    Sunny|  29|         4| 20000|
+---------+------------+------+---------+----+----------+------+

In [206]:
                                                ## Right Join ##
df_pysparkG.join(df_pyspark1,
               df_pysparkG.Name == df_pyspark1.Name,
               "right").show()

+---------+------------+------+---------+----+----------+------+
|     Name| Departments|salary|     Name| age|Experience|Salary|
+---------+------------+------+---------+----+----------+------+
|    Krish|    Big Data|  4000|    Krish|  31|        10| 30000|
|    Krish|         IOT|  5000|    Krish|  31|        10| 30000|
|    Krish|Data Science| 10000|    Krish|  31|        10| 30000|
|Sudhanshu|    Big Data|  5000|Sudhanshu|  30|         8| 25000|
|Sudhanshu|         IOT| 10000|Sudhanshu|  30|         8| 25000|
|Sudhanshu|Data Science| 20000|Sudhanshu|  30|         8| 25000|
|    Sunny|    Big Data|  2000|    Sunny|  29|         4| 20000|
|    Sunny|Data Science| 10000|    Sunny|  29|         4| 20000|
|     null|        null|  null|     Paul|  24|         3| 20000|
|     null|        null|  null|   Harsha|  21|         1| 15000|
|     null|        null|  null|  Shubham|  23|         2| 18000|
|   Mahesh|Data Science|  3000|   Mahesh|null|      null| 40000|
|   Mahesh|    Big Data|  4000|   Mahesh|null|      null| 40000|
|     null|        null|  null|     null|  34|        10| 38000|
|     null|        null|  null|     null|  36|      null|  null|
+---------+------------+------+---------+----+----------+------+